@media screen and (min-width:768px){
    .grid{
        grid-template-areas: "header header header header"
                             "main main main aside"
                             "footer footer footer footer"
        ;
        grid-gap: 10px;
    }

    header .contenedor{
        padding-top: 20px;
        max-width: 1000px;
        margin: 0 auto;
        max-width: 768px;
    }
    
    .barra{
        width: 100%;
        align-items: center;
        flex-direction: row;
    }
    .barra-navegacion{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .preview{
        align-items: center;
    }
    .cajas .contenedor{
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .caja-1, .caja-2, .caja-3{
        padding: 10px;
        margin-left: 5px;
    }   
    .productos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .caja__producto{
        margin-left: 10px;
    }
   
    .container-fluid{
        margin-left: 80px;
    }

    .iniciosesion-fluid{
        margin-left: 30px;
        width: 700px;
    }
}

@media screen and (min-width:1024px){
    .preview{
        width: 100%;
        flex-direction: row;
    }
    .preview-noticias-caja{
        margin-left: 20px;
    }

    .contenedor{
        max-width: 1024px;
    }

    .cajas .contenedor{
        width: 100%;
        justify-content: space-between;
    }
    .productos{
        flex-direction: row;
        justify-content: space-between;
    }
    .caja__producto{
        width: 320px;
    }
  
    .iniciosesion-fluid{
        margin: 200px;
        width: 700px; 
        }
    
}