/*Aside*/
aside{
    grid-area: aside;
    background-color: #f6dfe7;
    color: $black;
    border-radius: 5px;
    text-align: center;
    margin: 0;
}

.aside-texto{
    padding-left: 50px;
    margin-top: 10px;
        & ul{
            text-align: center;
        }
}
