/*Aside*/
aside{
    grid-area: aside;
    background-color: #f6dfe7;
    color: $black;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

.aside-texto{
    width: 200px;
    padding-left: 80px;
    margin-top: 10px;
        & ul{
            text-align: center;
        }
}
